#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Full Page Background */
.full-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

/* Top Section with Black Background */
.top-section {
  background-color: black;
  color: white;
  flex: 1; /* Takes up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section h1 {
  font-size: 3rem;
  padding-top: 20px;
}

/* Bottom Section with Purple Background */
.bottom-section {
  background-color: #6a0dad; /* Purple background */
  flex: 2; /* Takes up twice the space as the top section */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Optional: Customize the container */
.container {
  background-color: transparent;
  color: white;
  padding: 20px;
  border-radius: 8px;
}


